* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 160vh;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	background-color: black;
	color: white;
}

body h1 {
	margin-top: 40px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	min-height: 500px;
	width: 50%;
	background-color: rgb(27, 27, 27);
	border: solid 1px black;
}

form .d1 {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 90%;
}

form .d1 input,
textarea {
	height: 40px;
	background-color: rgb(36, 36, 36);
	border: solid 1px black;
	border-radius: 10px;
	padding: 10px;
	color: wheat;
}

form .d1 input:hover,
textarea:hover {
	border: solid 1px rebeccapurple;
}

.dif-level,
.category {
	display: flex;
	gap: 10px;
}

.dif-level label,
.category label {
	margin-right: 10px;
}
.highlight {
	background-color: gold !important;
	transform: scale(1.1);
	transition: 0.3s;
}
.highlight-main {
	background-color: rgb(109, 109, 255) !important;
	transform: scale(1.1);
	transition: 0.3s;
}
button {
	height: 30px;
	width: 25%;
	background-color: rgb(186, 228, 186);
	color: black;
	border-radius: 8px;
	cursor: pointer;
}

.cards {
	width: 85vw;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	gap: 40px;
}

.card {
	height: 300px;
	width: 400px;
	border: solid 1px blue;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 4px 4px 10px gray;
	color: rgb(37, 37, 37);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
		Arial, sans-serif;
	font-size: larger;
}

.card .buttons {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.card h3 {
	color: rgb(106, 206, 106);
	border-bottom: solid 1px gainsboro;
}
.card .buttons button {
	background-color: rebeccapurple;
	color: white;
	width: 100px;
	height: 40px;
}

section {
	display: flex;
	width: 80%;
	gap: 20px;
}
section button {
	background-color: ghostwhite;
	height: 50px;
	font-size: larger;
}
section button:hover {
	transform: scale(1.02);
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

section button:active {
	background-color: skyblue;
}
